/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    background-color:#333333 ; /* Sets the background color to grey */
    color: white;           /* Sets the text color to white */ 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
